<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="nav navbar-nav menu_nav ml-auto">


 <li class="nav-item submenu dropdown">
              <a class="nav-link" href="{% url 'product_list' %}?product_category=men">Men</a>

              <ul class="dropdown-menu">
<div class="row" style="width:400px;">
                <div class="column" style="width:200px;">
                     <li class="nav-item" style="width: 185px; margin-left: 15px">

                    <a class="nav-link" style="font-weight: bold;" >Clothing</a>

                  </li>
                     <li class="nav-item" style="width: 185px; margin-left: 15px">
              <a class="nav-link" href="{% url 'product_list' %}?product_category=Men">T-shirts</a>
              </li>
              <li class="nav-item" style="width: 185px; margin-left: 15px">
              <a class="nav-link" href="{% url 'product_list' %}?product_category=Men">Jeans</a>
              </li>
              <li class="nav-item" style="width: 185px; margin-left: 15px">
              <a class="nav-link" href="{% url 'product_list' %}?product_category=Men">Kurtis</a>
              </li>
                  </div>

                  <div class="column" style="width:200px;"  >
                  <li class="nav-item" style="width: 185px">

                    <a class="nav-link" style="font-weight: bold;" >Accessories</a>
                  </li>
                     <li class="nav-item" style="width: 185px">
              <a class="nav-link" href="{% url 'product_list' %}?category=Lifestyle&&sub_category=Glasses&&gender=female">Glasses</a>
              </li>
              <li class="nav-item" style="width: 185px">
              <a class="nav-link" href="{% url 'product_list' %}?category=Lifestyle&&sub_category=Shoes&&gender=female">Shoes</a>
              </li>
              <li class="nav-item" style="width: 185px">
                <a class="nav-link" href="{% url 'product_list' %}?category=Lifestyle&&sub_category=Watches&&gender=female">Watches</a>
              </li>
              <li class="nav-item" style="width: 185px">
              <a class="nav-link" href="{% url 'product_list' %}?category=Lifestyle&&sub_category=Belts&&gender=female">Belts</a>
              </li>
                  </div>
                </div>
            </ul>
            </li>


<li class="nav-item submenu dropdown">
              <a class="nav-link" href="{% url 'product_list' %}?product_category=women">Women </a>

              <ul class="dropdown-menu">
<div class="row" style="width:400px;">


                <div class="column" style="width:200px;">
                     <li class="nav-item" style="width: 185px; margin-left: 15px">

                    <a class="nav-link" style="font-weight: bold;" >Clothing</a>

                  </li>
                     <li class="nav-item" style="width: 185px">
              <a class="nav-link" href="{% url 'product_list' %}?category=Clothing&&sub_category=T-shirts&&gender=female">T-shirts</a>
              </li>
              <li class="nav-item" style="width: 185px">
              <a class="nav-link" href="{% url 'product_list' %}?category=Clothing&&sub_category=T-shirts&&gender=female">Jeans</a>
              </li>
              <li class="nav-item" style="width: 185px">
              <a class="nav-link" href="{% url 'product_list' %}?category=Clothing&&sub_category=T-shirts&&gender=female">Kurtis</a>
              </li>
                  </div>
                  <div class="column" style="width:200px;">
                     <li class="nav-item" style="width: 185px;">

                    <a class="nav-link" style="font-weight: bold;" >Accessories</a>

                  </li>
                     <li class="nav-item" style="width: 185px">
              <a class="nav-link" href="{% url 'product_list' %}?category=Lifestyle&&sub_category=Glasses&&gender=female">Glasses</a>
              </li>
              <li class="nav-item" style="width: 185px">
              <a class="nav-link" href="{% url 'product_list' %}?category=Lifestyle&&sub_category=Shoes&&gender=female">Shoes</a>
              </li>
              <li class="nav-item" style="width: 185px">
                <a class="nav-link" href="{% url 'product_list' %}?category=Lifestyle&&sub_category=Watches&&gender=female">Watches</a>
              </li>
              <li class="nav-item" style="width: 185px">
              <a class="nav-link" href="{% url 'product_list' %}?category=Lifestyle&&sub_category=Belts&&gender=female">Belts</a>
              </li>
                  </div>

                  </div>
            </ul>
            </li>




            <li class="nav-item submenu dropdown">
              <a class="nav-link" href="{% url 'product_list' %}?category=Electronics">Electronics </a>

              <ul class="dropdown-menu">
<div class="row" style="width:600px;">

                <div class="column" style="width:200px;">
                     <li class="nav-item" style="width: 185px; margin-left: 15px">

                    <a class="nav-link" style="font-weight: bold;" >Phone</a>

                  </li>
                     <li class="nav-item" style="width: 185px; margin-left: 15px">
              <a class="nav-link" href="{% url 'product_list' %}?category=Electronics">iPhone</a>
              </li>
              <li class="nav-item" style="width: 185px; margin-left: 15px">
              <a class="nav-link" href="{% url 'product_list' %}?category=Electronics">Samsung</a>
              </li>
              <li class="nav-item" style="width: 185px; margin-left: 15px">
              <a class="nav-link" href="{% url 'product_list' %}?category=Electronics">MI</a>
              </li>
                  </div>

                  <div class="column" style="width:200px;">
                  <li class="nav-item" style="width: 185px  margin-left: 15px">

                    <a class="nav-link" style="font-weight: bold;" >TV</a>
                  </li>
                      <li class="nav-item" style="width: 185px;  margin-left: 15px">
              <a class="nav-link" href="{% url 'product_list' %}?category=Electronics">Samsung</a>
              </li>
              <li class="nav-item" style="width: 185px;  margin-left: 15px">
              <a class="nav-link" href="{% url 'product_list' %}?category=Electronics">Sony</a>
              </li>
              <li class="nav-item" style="width: 185px;  margin-left: 15px">
              <a class="nav-link" href="{% url 'product_list' %}?category=Electronics">LG</a>
              </li>
                  </div>

                       <div class="column" style="width:200px;">
                  <li class="nav-item" style="width: 185px; ">

                    <a class="nav-link" style="font-weight: bold;" >Accessories</a>
                  </li>
                      <li class="nav-item" style="width: 185px; ">
              <a class="nav-link" href="{% url 'product_list' %}?category=Electronics">Headphones</a>
              </li>
              <li class="nav-item" style="width: 185px; ">
              <a class="nav-link" href="{% url 'product_list' %}?category=Electronics">Cases & Covers</a>
              </li>

                  </div>
                  </div>
            </ul>
            </li>







</ul>
</div>